@font-face {
    font-family: Gill-Sans;
    src: url(./font/GIL_____.TTF);
}

body {
    display: flex;
    background-color: black;
    background-image: url(./image/LobCorp.png);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-family: Gill-Sans, sans-serif;
}

div {
    display: flex;
    background-position: top center;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    width: 75vh;
    height: 30vh;
    justify-content: center;
    align-items: center;
}
#first-trumpet{
    
    background-image: url(./image/First_trumpet.png);
    font-size: 8vh;
    font-weight: 700;
}

#second-trumpet{
    background-image: url(./image/Second_trumpet.png);
    flex-direction: column;
    font-size: 2.2vh;
}

#third-trumpet{
    background-image: url(./image/Third_trumpet.png);
    font-size: 2.2vh;
}

#third-trumpet a{
    text-decoration: none;
    color: white;
}

p, a{
    background-color: black;
}